$purple: rgba(80, 1, 184, 0.8);
$pink: rgba(235, 0, 176, 0.8);


.body{
    background: linear-gradient(180deg, $purple 10%, $pink 50%);
    
}

/*==================== Navigasi ====================*/
nav {
	z-index: 9999;
	width: 100%;
	text-align:center;
	top: 0;
	right: 0;

}

nav ul li {
	padding: 10px 10px;
	display: inline-block;
}

nav ul li a {
	padding: 10px;
	text-decoration: none;
	font-size: 16px;
	color: #fff;

    &:hover{
        color: $pink;
    }
}