$darkgrey : rgb(42, 42, 42);

.body{
    background-color: whitesmoke;
}

.text-brand{
    color: whitesmoke;
    font-weight: bold;
    font-size: 24px;
}

.row{
    margin-top: 50px;
    margin-bottom: -80px;
}

.form-search{
    text-decoration: none;
    color: orange;
    border-radius: 8px;
    border-color:orange;
    font-weight: bold; 
}

.search-button{
    background-color: orange;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 6px;
    border-color: orange;
    font-weight: bold;
     
    &:hover{
    background-color: $darkgrey;
    border-color: orange;
    color: orange;
    }
}

.cards{
    margin-bottom: 24px;
    border-color: orange;
    border-radius: 10px;
}

.read-news{
    background-color: orange;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 8px;
    border-color: whitesmoke;
    font-weight: bold;

    &:hover{
        background-color: whitesmoke;
        color: orange;
        border-color: orange;
    }
}


.footer{
    background-color: orange;
    color: $darkgrey;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 80px;
}

@media (max-width: 800px) {
    .home__img, .home__content, .q-1, .q-2{
      flex: 100%;
    }
  }